{{#partial "contenido" }}
    <div class="table-responsive">

        <h3>Se ha enviado la solicitud de miembro exitosamente a la comunidad: {{comunidad}}</h3>

    </div>
{{/partial}}
{{> templates/base }}