{{#partial "contenido" }}
    <div>
    <h2>Bienvenido al sistema de apoyo de Movilidad reducida</h2>
    <p>Puede consultar los servicios en cada una de las entidades:
    <a href="entidades">Entidades</a>
    </p>
    </div>
{{/partial}}
{{> templates/base }}