<html lang="es">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link rel="stylesheet" href="/css/login.css">
<meta charset="utf-8">
<title>Iniciar sesión</title>

<div class="inicio-sesion">
  <div class="card text-white bg-dark text-center inicio-sesion-container">
    <div class="card-body inicio-sesion">
      <h5 class="card-title bienvenido">Bienvenido</h5>
      <p class="card-text iniciar-sesion">Iniciar sesión</p>
        <form method="POST"  action="/login">
      <label class="input-label">Email</label>
      <input class="input-style" name="email" type="email" placeholder="Ingrese Email"> </input>
      <label class="input-label">Contraseña</label>
      <input class="input-style" name="password" type="password" placeholder="Ingrese Contraseña"> </input>
            <br>
      <button class="btn btn-primary" type="submit">Iniciar sesión</button>
      <a href="/registro" class="btn btn-secondary" type="button">Registrame </a>

    </div>
      <div class="alert">{{if error }} {{error}}</div>
  </div>
</div>
</html>