{{#partial "contenido" }}

<body>
  <div class="error">
    <h1 class="cargar-text">Ooops!<br><span><img class="error-icon" src="/img/logos/not-allowed.svg" alt="not-allowed" /></h1>
    <h2>No tiene permiso de acceder a este recurso</h2>
    </div>
  </div>
  {{/partial}}
  {{> templates/base }}